@model EdNexusData.Broker.Web.ViewModels.Requests.RequestViewModel;
@inject EdNexusData.Broker.Web.Helpers.TimezoneHelper TimezoneHelper;
@using static EdNexusData.Broker.Web.Constants.Claims.CustomClaimType;
@using EdNexusData.Broker.Core.Extensions;

<table class="min-w-full divide-y divide-gray-300">
    <tr>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Timestamp</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Request/Response</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Request Status</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Message</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">&nbsp;</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">&nbsp;</th>
    </tr>
    @if (Model.Request?.Messages != null && Model.Request.Messages.Count > 0)
    @foreach(var message in Model.Request.Messages)
    {
        @if (message.RequestResponse == EdNexusData.Broker.Core.RequestResponse.Response)
        {
        <tr class="even:bg-gray-50">
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@TimezoneHelper.DisplayTimeFromUtc(message.SentTimestamp)</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@message.MessageContents?.Sender?.Name</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@message.RequestResponse</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@message.RequestStatus?.GetDescription()</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@message.MessageContents?.MessageText</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><a asp-action="ViewMessage" asp-route-id="@message.Id" target="_blank">Contents</a></td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><a asp-action="ViewTransmission" asp-route-id="@message.Id" target="_blank">Transmission</a></td>
        </tr>
        }
        else
        {
        <tr class="even:bg-gray-50">
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@TimezoneHelper.DisplayTimeFromUtc(message.SentTimestamp)</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@message.MessageContents?.Sender?.Name</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@message.RequestResponse</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@message.RequestStatus?.GetDescription()</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@message.MessageContents?.MessageText</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><a asp-action="ViewMessage" asp-route-id="@message.Id" target="_blank">Contents</a></td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><a asp-action="ViewTransmission" asp-route-id="@message.Id" target="_blank">Transmission</a></td>
        </tr>
        }
        @if(message.PayloadContents?.Count > 0)
        {
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td colspan="3" class="text-sm text-gray-500">
                    <ul class="list-disc list-inside">
                        @foreach (var payload in message.PayloadContents)
                        {
                            <div class="flex items-center">
                            <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd"></path>
                            </svg>
                            <div class="p-1"><a target="_blank" asp-action="ViewAttachment" asp-route-id="@payload.Id">@payload.FileName</a></div>
                            </div>
                        }
                    </ul>
                </td>
            </tr>
        }
    }
</table>