@using Microsoft.AspNetCore.Authentication
@using System.Reflection
@model EdNexusData.Broker.Web.Controllers.LogInViewModel
@{
    // Copyright: 2023 Education Nexus Oregon
    // Author: Makoa Jacobsen, makoa@makoajacobsen.com
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<div class="flex flex-col justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="min-h-[80vh] sm:mx-auto sm:w-full sm:max-w-md flex flex-col justify-center">
    <div class="grid gap-8 shadow rounded-xl bg-white border border-gray-200 p-4 sm:px-6">
      <div>
        <img class="mx-auto h-48 w-auto" src="~/images/Final-Education-Nexus-ICON-png.png" alt="Education Nexus Oregon">
        <h2 class="font-title mt-2 text-center text-4xl">Broker</h2>
        <h4 class="font-title text-center text-xl text-gray-600">Student Records Transfer</h4>
        <p class="mt-2 text-center text-sm text-gray-600">@Model.Environment?.EnvironmentName</p>
        <p class="text-center text-sm text-gray-600">@Assembly.GetExecutingAssembly().GetName().Version</p>
      </div>
      <div>
        <div class="border border-gray-200 px-4 py-4 sm:rounded-lg sm:px-10">
            <partial name="_Alert"></partial>

            @if (Model.AllowAnonymousLogin)
            {
                @if(Model.AllLogins is not null)  
                @foreach (var user in Model.AllLogins)
                {
                <a href="@Url.Action("AnonymousLogin", "Login", new { email = user.Email })" class="block my-3 w-full justify-center rounded-md bg-white px-4 py-2 text-gray-600 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0">
                    @user.Email
                </a>
                }
            }

            @if(Model.ExternalLogins is not null)
            {
              <form id="external-account" asp-action="ExternalLogin" method="post">
                <input type="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]" />
                @foreach (var provider in Model.ExternalLogins)
                {
                  <button type="submit" class="my-3 w-full justify-center rounded-md bg-white px-4 py-2 text-gray-600 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                    Sign in with @provider.DisplayName
                  </button>
                }
              </form>
            }
            
            <div x-data="{ open: false }">

                <div class="relative mt-5" @@click="open = !open">
                    <div class="relative flex justify-center gap-1 text-sm font-medium leading-6 cursor-pointer">
                        <svg class="w-4 transition-transform" :class="open ? 'rotate-180' : 'rotate-0'" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" > <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" /> </svg>
                        <span class="bg-white px-1 text-gray-900">Continue with email</span>
                    </div>
                </div>

                <form class="space-y-6" asp-action="Login" method="POST" x-show="open" x-transition>
                <input type="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]" />
                <div>
                    <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
                    <div class="mt-2">
                    <input asp-for="@Model.Email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                    <div class="mt-2">
                    <input asp-for="@Model.Password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <label for="email" class="block text-sm font-medium leading-6 text-gray-900">TOTP Code</label>
                    <div class="mt-2">
                    <input asp-for="@Model.TotpCode" autocomplete="auth-code" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
                </div>
                </form>

            </div>

            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
