@model EdNexusData.Broker.Web.ViewModels.ConnectorsViewModel;
@{
    // Copyright: 2023 Education Nexus Oregon
    // Author: Makoa Jacobsen, makoa@makoajacobsen.com
    ViewData["Title"] = "Connector Store";
    Layout = "_AuthenticatedLayout";
}

@if(Model.StoreConnectors is not null)
{
  <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    @foreach(var connector in Model.StoreConnectors)
    {
    <li class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow">
      <div class="flex w-full items-center justify-between space-x-6 p-6">
        <div class="flex-1 truncate">
          <div class="flex items-center space-x-3">
            <h3 class="truncate text-sm font-medium text-gray-900">@connector.Name</h3>
          </div>
          <p class="mt-1 truncate text-sm text-gray-500">@connector.LatestRelease()?.Version</p>
          <p class="mt-1 truncate text-sm text-gray-500">@connector.Company</p>
        </div>
        <img class="rounded-full bg-gray-300" width="96" height="96" src="/images/Final-Education-Nexus-ICON-png.png" alt="">
      </div>
      <div>
        <div class="-mt-px flex divide-x divide-gray-200">
          @{
            var installed = Model.ReferenceConnectors?.Where(x => x.Reference == connector.ReferenceName).FirstOrDefault();
          }
          <div class="flex w-0 flex-1">
            @if(installed is null)
            {
            <form id="user-form" method="post" asp-action="Add" autocomplete="off" class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
              <input type="hidden" name="connectorReference" value="@connector.ReferenceName" />
              <button type="submit" class="w-full h-full">Add</button>
            </form>
            }
            else
            {
              <div class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-gray-500">Add</div>
            }
          </div>
          <div class="-ml-px flex w-0 flex-1">
            @if(installed is not null)
            {
            <form id="user-form" method="post" asp-action="Delete" autocomplete="off" class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
              <input type="hidden" name="_METHOD" value="DELETE" />
              <input type="hidden" name="connectorReferenceId" value="@installed.Id" />
              <button type="submit" class="w-full h-full">Remove</button>
            </form>
            }
            else
            {
              <div class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-gray-500">Remove</div>
            }
          </div>
        </div>
      </div>
    </li>
    }
  </ul>
}
else
{
  <h3>No store connectors.</h3>
}